# 1. Sudo copy this file to  /etc/systemd/system/
# 2. Chmod the copied file to 777
# 3. Reload services with: sudo systemctl daemon-reload
# 4. Check status with sudo systemctl status <file basename>


[Unit]
Description=Chetch Worker XMPP Test

[Service]
Type=simple
ExecStart=bash /home/pi/Documents/VisualStudioProjects/Tests/WorkerServiceChetchXMPP/WorkerServiceChetchXMPP/chetch-worker-xmpp-test.sh

[Install]
WantedBy=multi-user.target